<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Race Details</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="nav-container">
    <nav>
        <i class="fa-solid fa-person-running"></i>
        <a class="nav" href="http://localhost:8082">Home</a>
        <a class="nav" href="http://localhost:8082/runners">Runners</a>
        <a class="nav" href="http://localhost:8082/races">Races</a>
    </nav>
</div>


<div id="race-details-container" class="races-container">

  <h1 class="race-details">Race Details</h1>

  <table class="races-table table-striped">
    <thead>
    <tr>
      <th>Runner ID</th>
      <th>Runner Name</th>
      <th>Finish Time (minutes)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="runner : ${sortedRunners}">
      <td th:text="${runner.runnerId}"></td>
      <td th:text="${runner.runnerName}"></td>
      <td th:text="${runner.finishTime}"></td>
    </tr>
    </tbody>
  </table>

  <h1 class="new-runner-from-list">Add Runner From List</h1>

  <form id="add-runner-form-list" class="add-runner-form" th:action="@{/races/{raceId}/addRunner(raceId=${race.raceId})}" method="post">

    <select id="runnerSelection" name="selectedRunnerId">
      <option id="runnerNameList" th:each="runner : ${availableRunners}" th:value="${runner.runnerId}">
        [[${runner.runnerName}]] (ID: [[${runner.runnerId}]])
      </option>
    </select>

    <input type="hidden" name="raceId" th:value="${race.raceId}">
    <button id="add-runner" class="btn btn-success" type="submit">Add Runner</button>
  </form>

  <h1 class="register-new-runner">Register new runner</h1>

  <form id="new-runner-form" th:action="@{/races/{raceId}/addRunnerAndCreate(raceId=${race.raceId})}" method="post">

    <div class="label-container">
      <label for="runnerName">Name:</label>
      <input type="text" id="runnerName" name="name" required minlength="2" maxlength="28">
      <label for="runnerAge">Age:</label>
      <input type="number" id="runnerAge" name="age" required min="12" max="120">
      <label for="finishTime">Finish Time (minutes):</label>
      <input type="number" id="finishTime" name="finishTime" required min="10" max="1000">
      <label for="gender">Gender:</label>
      <select id="gender" name="gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
    </div>

    <input type="hidden" name="raceId" th:value="${race.raceId}">
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="http://localhost:8082" class="btn btn-primary">Return Home</a>
  </form>
</div>



<footer class="footer">
  <p>Made with Springboot by VMware Tanzu | <a href="https://spring.io">https://spring.io</a> </p>
</footer>

<script src="/script.js" defer></script>
</body>
</html>