<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Races</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Length(km)</th>
            <th>Average Time</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="name : ${races}">
            <td th:text="${race.raceId}"></td>
            <td th:text="${race.raceName}"></td>
            <td th:text="${race.raceLength}"></td>
            <td th:text="${runner.avrgTime}"></td>

        </tr>
        </tbody>
    </table>

    <!-- Back Button -->
    <a href="/index" class="btn btn-info">Home</a>
</div>
</body>
</html>