<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Runners</title>
</head>
<body>
<div class="container">
    <h1>Runners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="runner : ${runners}">
            <td th:text="${runner.runnerName}"></td>
            <td th:text="${runner.runnerAge}"></td>
            <td th:text="${runner.runnerGender}"></td>

        </tr>
        </tbody>
    </table>

    <!-- Back Button -->
    <a href="http://localhost:8082" class="btn btn-primary">Return Home</a>
</div>
</body>
</html>